# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist
build
*.log

# Virtual environment
myenv/
venv/
env/
.venv/

# Ignore virtual environment
myenv/

# Explicitly include large file (if it's not already excluded by myenv/)
!myenv/similarty.pkl
